body
{
    margin: 0 auto;
    background: url('../images/bg.png') no-repeat center center fixed;;
    font-family: 'Playfair Display', serif;
    overflow: hidden;
}

h1,h2,h3,h4,h5,small
{
    margin: 0;
    display: inline;
    color: #fbca90;
}
.game
{
    position: absolute;
}

.gamebox
{
    float: left;
    width: 100%;
    margin: 125px 0 0 0;
    padding: 30px;
    background-color: #A66851;
    box-shadow: 0px 0px 10px #8B4B35;
    border: dashed 1px #fbca90;
}

.letterbox
{
    float: left;
    width: 100%;
    margin: 30px 0 0 0;
    padding: 30px;
    background-color: #A66851;
    box-shadow: 0px 0px 10px #8B4B35;
    border: dashed 1px #fbca90;
}

.letters
{
    letter-spacing: 5px;
}

.infobox
{
    float: right;
    width: 100%;
    margin: 0;
    padding: 30px;
    background-color: #A66851;
    box-shadow: 0px 0px 10px #8B4B35;
    border: dashed 1px #fbca90;
}

#logo
{
    width: 100%;
    margin: 25px 0 25px 0;
}

.staticon
{
    background-color: #A66851;
    color: #fbca90;
    font-size: 28px;
}

.statbox
{
    background-color: #A66851;
    color: #fbca90;
    padding: 5px;
}

.container
{
    position: relative;
    z-index: 1;
}

.welcomebox,
.winnerbox,
.loserbox
{
    width: 600px;
    margin: 100px auto;
    padding: 30px;
    position: relative;
    z-index: 2;
    background-color: #A66851;
    box-shadow: 0px 0px 10px #8B4B35;
    border: dashed 1px #fbca90;
}

.welcome-wrapper,
.winner-wrapper,
.loser-wrapper
{
    position: relative;
    width: 100%;
}

.welcomebox-header,
.winnerbox-header,
.loserbox-header
{
    text-align: center;
}

#winh1
{
    font-family: 'Ewert', cursive;
    font-size: 64px;
}

#winh3
{
    font-size: 24px;
}
